.logo-image{
    border-radius: 15px;
}
.nav-item a{
    display: inline-block;
    color: white;
    font: 1em sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
}

.nav-item a:hover{
    color: #480fe45e;
    
}


